@charset "UTF-8";
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.6rem;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

html {
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #000000;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 160rem;
  margin: 0 auto;
}

.container {
  max-width: 48rem;
  padding: 0 0.8rem;
  margin: 0 auto;
  border: 1px red solid;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 1px green solid;
    padding: 0 1.5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    border: 1px yellow solid;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
    border: 1px red solid;
  }
}

/* Скрытие элемента */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Подсвечивание текущей страницы */
.current {
  color: var(--color-pink);
}

:root {
  --color-pink: #ed2d92;
  --color-green: #96b83d;
  --color-light-blue: #7fd3f7;
  --color-middle-blue: #6cd2de;
  --color-deep-blue: #129ead;
  --color-dark-blue: #293e5d;
  --color-orange: #ff6600;
  --color-grey: #656364;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

#menu__toggle {
  position: absolute;
  top: 30px;
  right: 20px;
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  margin: 0;
  padding: 80px 0;
  background-color: var(--color-dark-blue);
  transition-duration: 0.25s;
}
@media (max-height: 300px) {
  .menu__box {
    max-height: 400px;
  }
}

.menu-wrapper {
  position: relative; /* Изменяем на relative */
  height: 100%; /* Занимаем всю высоту блока */
}
.menu-wrapper .hamburger-menu__menu-list {
  margin-bottom: 8rem;
}
.menu-wrapper .menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--color-light-blue);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition-duration: 0.25s;
}
.menu-wrapper .menu__item:hover {
  background-color: var(--color-orange);
}
.menu-wrapper .hamburger-menu__social-list {
  display: flex;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.menu-wrapper .hamburger-menu__social-item {
  color: var(--color-light-blue);
}
.menu-wrapper .hamburger-menu__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: var(--color-light-blue) 1px solid;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  transition: color cubic-bezier(0.17, 0.67, 0.83, 0.65) 0.1s, border-color cubic-bezier(0.17, 0.67, 0.83, 0.65) 0.1s, transform cubic-bezier(0.17, 0.67, 0.83, 0.65) 0.1s;
  fill: cubic-bezier(0.17, 0.67, 0.83, 0.65) 0.1s;
}
.menu-wrapper .hamburger-menu__social-icon {
  fill: currentColor;
}
.menu-wrapper .hamburger-menu__social-link:hover,
.menu-wrapper .hamburger-menu__social-link:focus {
  color: var(--color-orange);
  border-color: var(--color-orange);
  fill: currentColor;
  transform: scale(1.3);
}

.header {
  padding-top: 1.6rem;
}

.header__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  margin-right: 15%;
  display: inline-block;
}

.header__navigation {
  display: none;
}
@media (min-width: 768px) {
  .header__navigation {
    display: flex;
  }
}

.header__navigation-list {
  display: flex;
  gap: 4rem;
  color: var(--color-grey);
}
@media (min-width: 1200px) {
  .header__navigation-list {
    gap: 6rem;
  }
}

.header__navigation-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem 0;
}
@media (min-width: 1200px) {
  .header__navigation-link {
    font-size: 2rem;
  }
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: var(--color-pink);
}/*# sourceMappingURL=main.css.map */