:root {
    --color-pink: #ed2d92;
    --color-green: #96b83d;
    --color-light-blue: #7fd3f7;
    --color-middle-blue: #6cd2de;
    --color-deep-blue: #129ead;
    --color-dark-blue: #293e5d;
    --color-orange: #ff6600;
    --color-grey: #656364;
}