//Секция
.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 160rem;
    margin: 0 auto;
}

//Контейнер
.container {
    max-width: 48rem;
    padding: 0 0.8rem;
    margin: 0 auto;
    border: 1px red solid;

    @media (min-width: 768px) {
      max-width: 768px;
      border: 1px green solid;
      padding: 0 1.5rem;
    }

    @media (min-width: 1200px) {
      max-width: 1200px;
      border: 1px yellow solid;
    }

    @media (min-width: 1600px) {
      max-width: 1400px;
      border: 1px red solid;
    }
}


/* Скрытие элемента */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* Подсвечивание текущей страницы */
  .current {
    color: var(--color-pink);
  }