.header {
    padding-top: 1.6rem;
}

.header__wrapper {
    position: relative;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    margin-right: 15%;
    display: inline-block;
}

.header__logo-img {
}

.header__navigation {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.header__navigation-list {
    display: flex;
    gap: 4rem;
    color: var(--color-grey);

    @media (min-width: 1200px) {
        gap: 6rem;
    }
}

.header__navigation-item {
}

.header__navigation-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 0;

    @media (min-width: 1200px) {
        font-size: 2rem;
    }
}

.header__navigation-link:hover,
.header__navigation-link:focus {
    color: var(--color-pink);
}